@import url('https://fonts.googleapis.com/css2?family=  +Sans+SC:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans+SC:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
}


.logo {
  height: 2vh;
}


#divlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;

}

.nav-header {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(14, 14, 14, 1) 100%);
  transition: background .5s;
  /* control how smooth the background changes */
}

.nav-header.scrolled {
  background: #fffdee;
}

.line {
  border-right: 1px solid #FFFDEE;
  border-left: 1px solid #FFFDEE;
}

.line.scrolled {
  border-right: 1px solid #19390F;
  border-left: 1px solid #19390F;
}

.line2 {
  border-right: 1px solid #FFFDEE;
  border-left: 1px solid #FFFDEE;
}

.line2.scrolled {
  border-right: 2px solid #19390F;
  border-left: 2px solid #19390F;
}

.links {
  height: 20%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #FFFDEE;
}

.links.scrolled {
  border-bottom: 3px solid #19390F;
}

a:link {
  color: #E9E7DA;
  text-decoration: none;
}

.links a:hover {
  color: #fff;
}

a:link.scrolled {
  color: #523D2D;
  text-decoration: none;
}

#img1 {
  background-image: url(../img/tattoo.jpeg);
}

#img2 {
  background-image: url(../img/tatuador-1.jpg);
}

#img3 {
  background-image: url(../img/tatuador.png);
}

/* blog */
.q1 {
  background-color: #483C28;
  margin-right: 0px !important;
}

.q2 {
  background-color: #483C28;
  height: 28vh;
}
#blog{
  height: 70vh;
}
.row {
  align-items: center;
  margin-right: 0 !important
}
#noticia-direita .row{
  display: flex;
}
.blog {
  display: flex;
  height: 100vh;
  
}
#blog{
  background-color: #FFFDEE;
}
#noticiaprincipal{
  height: 100%;
  display: flex;
}
#imgblog{
  size: 200px;
  height: 200px;
  width: 250px;
}


/* carousel */
.carousel-item {
  height: 92vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#blog-preview {
  height: 8vh;
  background-color: #FFFDEE;
}

#int {
  font-family: 'Poppins';
  color: #483C28;
}
#blogtt {
  font-family: 'Poppins';
  color: #483C28;
  padding-left: 3%;
  
}
.integrantes {
  background-color: #FFFDEE;
  align-items: center;
}

#caca {
  display: flex;
  justify-content: center;
}

.integrantes .card {
  width: 190px;
  height: 254px;
  background: #483C28;
  padding: 2rem 1.5rem;
  -webkit-transition: -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
  transition: -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
  transition: box-shadow .3s ease, transform .2s ease;
  transition: box-shadow .3s ease, transform .2s ease, -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
}

/*Image*/
.card-avatar img {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  margin-bottom: 1rem;
}


/*Card footer*/
.card-social {
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around center;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
}

.card-social__item {
  list-style: none;
}

.card-social__item i {
  display: block;
  height: 18px;
  width: 25px;
  fill: #FFFDEE;
  cursor: pointer;
  -webkit-transition: fill 0.2s ease, -webkit-transform 0.2s ease;
  transition: fill 0.2s ease, -webkit-transform 0.2s ease;
  transition: fill 0.2s ease, transform 0.2s ease;
  transition: fill 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

/*Text*/
.card-title {
  color: #FFFDEE;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
}

.card-subtitle {
  color: #f5f2de;
  font-size: 0.8em;
}

/*Hover*/
.card:hover {
  -webkit-box-shadow: 0 8px 50px #23232333;
  box-shadow: 0 8px 50px #23232333;
}

.card:hover .card-info {
  -webkit-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
}

.card:hover .card-social {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 1;
}
.card-social__item svg:hover {
  fill: #FFFDEE;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card-avatar:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#sobrenos {
  background-color: #483C28;
}

#txtsobre {
  color: #FFFDEE;
  font-family: 'Poppins';
}

#titulos {
  color: #FFFDEE;
  font-family: 'Poppins';
}

#INKonnect {
  background-color: #483C28 ;
}

#txtink {
  color: #FFFDEE;
  font-family: 'Poppins';
}

#tituloink {
  color: #483C28;
  font-family: 'Poppins';
}

.group {
  background-color: #483C28;

}
span{
  margin-left: 4px;
  color: white;
  font-family: 'Poppins';
}
p {
  font-family: 'Poppins';
}

.bright-text {
  color: #FFFDEE;
}

#btn {
  display: flex;
  justify-content: center;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 110px;
  height: 45px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #483C28;
}

/* plus sign */
.sign {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

/* text */
.text {
  opacity: 1;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  width: 70%;
  padding-right: 17%;
  text-decoration: none;
  text-decoration-color: #fff;
}

#btn a:hover {
  text-decoration: none;
  color: #fff;
  color: #fff !important;
}

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

.notiça{
  height:58vh;
}
.btnca {
  border: none;
  display: flex;
  padding: 0.75rem 0.75rem;
  background-color: #a71c1cd2;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #6d393991, 0 2px 4px -1px #703d3d7e;
  transition: all .6s ease;
}
.btnca:hover {
  box-shadow: 0 10px 15px -3px #6d393991, 0 4px 6px -2px #703d3d7e;
}