/* https://colorhunt.co/palette/6e85b7b2c8dfc4d7e0f8f9d7 */
@import url(https://fonts.google.com/specimen/Poppins);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.bgbody {
    background-color: #483C28;
}

#main {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F2E2;
}

.click {
    text-decoration: none;
    color: #483C28 !important;
}
a{
    text-decoration: none;
    color: #19390F;
}

.btn {
    border: none;
    display: flex;
    padding: 0.75rem 0.75rem;
    background-color: #9c412f
    ;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #6d393991, 0 2px 4px -1px #703d3d7e;
    transition: all .6s ease;
}
.btn:hover {
    box-shadow: 0 10px 15px -3px #6d393991, 0 4px 6px -2px #703d3d7e;
}
.btnedit {
    border: none;
    display: flex;
    padding: 0.75rem 1rem;
    background-color: #19390F;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #396d3991, 0 2px 4px -1px #3d704c7e;
    transition: all .6s ease;
}
.btnedit:hover {
    box-shadow: 0 10px 15px -3px #396d3991, 0 4px 6px -2px #3d704c7e;
}
.sign svg path {
    fill: white;
}

.sign svg {
    width: 17px;
}
.a{
    text-decoration: none;
    color: #6b5b40;
}
button {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #6b5b40;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #41362491, 0 2px 4px -1px #4439267e;
    transition: all .6s ease;
}

button:hover {
    box-shadow: 0 10px 15px -3px #2b241875, 0 4px 6px -2px #362d1e73;
}

button:focus,
button:active {
    opacity: .85;
    box-shadow: none;
}

button svg {
    width: 1.25rem;
    height: 1.25rem;
}


.font{
    color: #483C28;
    font-family: 'Poppins';
}
 
 
.buttonsair {

    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    position: relative;
    margin-left: 80%;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-family: 'Poppins';
    background: #19390F;
    transition: all .6s ease;
    box-shadow: 0 4px 6px -1px #50432f91, 0 2px 4px -1px #5e50397e;
}
